Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

.github/labeler.yml:

enhancements:
  - head-branch:
      ['^feature', 'feature', '^feat', 'feat', '^enhancement', 'enhancement']

source:
  - changed-files:
      - any-glob-to-any-file: '**/*.{js,jsx,ts,tsx}'
test:
  - changed-files:
      - any-glob-to-any-file: '**/__tests__/*.{js,jsx,ts,tsx}'
  - changed-files:
      - any-glob-to-any-file: '**/*.{spec,test}.{js,jsx,ts,tsx}'
lint:
  - changed-files:
      - any-glob-to-any-file: 'lint-staged.config.js'
  - changed-files:
      - any-glob-to-any-file: 'eslint.config.js'
  - changed-files:
      - any-glob-to-any-file: 'prettier.config.js'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*.{yml,yaml}'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'
config:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
ignore:
  - changed-files:
      - any-glob-to-any-file: '**/node_modules/**'
  - changed-files:
      - any-glob-to-any-file: '**/dist/**'
  - changed-files:
      - any-glob-to-any-file: '**/build/**'
  - changed-files:
      - any-glob-to-any-file: '**/coverage/**'

refactor(utils): improve function name for clarity and consistency
  src/index.ts
  src/utils/start.ts
  test/utils/start.test.ts
Labels: source, test

refactor(logger): improve code organization and naming consistency
  src/index.ts
  src/logger/filter.ts
  src/logger/handle.ts
  src/logger/index.ts
Labels: source

refactor(index): improve code organization and naming consistency
  src/index.ts
Labels: source

feat: update logger function name for clarity
  example/basic.ts
  src/index.ts
  test/logixlysia.test.ts
Labels: source, test

docs(readme): updaet logger function name
  README.md
Labels: none

refactor(logger): improve code organization
  src/logger/filter.ts
Labels: source

docs(readme): update code usage example
  README.md
Labels: none

chore(eslint): update eslint configuration (9.0.0) for TypeScript and JavaScript files
  eslint.config.cjs
  lint-staged.config.cjs
Labels: none

chore(eslint): add `simple-import-sort` configuration
  bun.lockb
  eslint.config.cjs
  package.json
Labels: config

chore(eslint): add recommended plugins and rules
  eslint.config.cjs
  eslint.config.js
Labels: source, lint

chore(lint-staged): remove useless coding
  lint-staged.config.cjs
Labels: none

chore(prettier): move `prettier.config.cjs` to use `.prettierrc`
  .prettierrc
  prettier.config.cjs
Labels: none

style(*): simple import and sort
  example/basic.ts
  src/index.ts
  src/logger/handle.ts
  src/logger/index.ts
  src/types.ts
  src/utils/colorMapping.ts
  test/logixlysia.test.ts
  test/types/ColorMap.test.ts
  test/types/HttpError.test.ts
  test/types/Logger.test.ts
  test/types/RequestInfo.test.ts
  test/types/Server.test.ts
  test/types/StoreData.test.ts
  test/utils/duration.test.ts
  test/utils/log.test.ts
  test/utils/method.test.ts
  test/utils/path.test.ts
  test/utils/start.test.ts
  test/utils/status.test.ts
Labels: source, test

chore(package): update dependencies for eslint and typescript-eslint
  bun.lockb
  package.json
Labels: config

refactor(status): improve function to short
  src/utils/status.ts
Labels: source

refactor(colors): change color to matching Postman color
  src/utils/colorMapping.ts
Labels: source

refactor(log): convert log level to string representation
  src/utils/log.ts
Labels: source

test(status): matching colors
  src/utils/status.ts
  test/utils/status.test.ts
Labels: source, test

test(method): update colors
  test/utils/method.test.ts
Labels: source, test

ci(github-actions): update node version from `20`, `21` to use `22`
  .github/workflows/ci.yml
  .github/workflows/npm.yml
Labels: ci/cd

test(status): update description test
  test/utils/status.test.ts
Labels: source, test

ci(github-actions): change to use `googleapis/release-please-action`
  .github/workflows/ci.yml
Labels: ci/cd

ci(github-actions): add node version to cache setup
  .github/workflows/ci.yml
Labels: ci/cd

ci(github-actions): wrong spell on env
  .github/workflows/ci.yml
Labels: ci/cd

ci(github-actions): improve cache fallback
  .github/workflows/ci.yml
Labels: ci/cd

chore(deps): update version dependencies
  bun.lockb
  package.json
Labels: config

test(logger): add filter function
  test/logger/filter.test.ts
Labels: source, test

feat(color): new color for methods (matching Postman color)
  .github/images/screenshot.png
Labels: none

chore(npm-ignore): add files to ignore
  .npmignore
Labels: none

refactor(logger): update imports and file names for consistency
  example/basic.ts
  src/index.ts
  src/logger/buildLogMessage.ts
  src/logger/createLogger.ts
  src/logger/handleHttpError.ts
Labels: source

docs(logger): new line for description
  src/logger/buildLogMessage.ts
  src/logger/createLogger.ts
  src/logger/handleHttpError.ts
Labels: source

chore(example): uncomment for filter
  example/basic.ts
Labels: source

ci(github-actions): new line for separate
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/npm.yml
  .github/workflows/security.yml
Labels: ci/cd

ci(github-actions): add snyk scanning workflow
  .github/workflows/security.yml
Labels: ci/cd

ci(github-actions): update version upload sarif
  .github/workflows/security.yml
Labels: ci/cd

ci(github-actions): change setup to check on node only
  .github/workflows/security.yml
Labels: ci/cd

ci(github-actions): remove `snyk` actions (so many error)
  .github/workflows/security.yml
Labels: ci/cd

ci(github-actions): replace `trivy` with `gitguardian`
  .github/workflows/security.yml
Labels: ci/cd

ci(github-actions): remove security workflows
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: ci/cd

chore(trivy): remove configuration
  .github/trivy.yaml
Labels: none
