Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

.github/labeler.yml:

enhancement:
  - head-branch:
      ['^feature', 'feature', '^feat', 'feat', '^enhancement', 'enhancement']

website:
  - head-branch:
      ['^website', 'website']
  - changed-files:
      - any-glob-to-any-file: '**/website/**/*'

docs:
  - head-branch:
      ['^docs', 'docs']
  - changed-files:
      - any-glob-to-any-file: '**/docs/**/*'
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
  - changed-files:
      - any-glob-to-any-file: '**/*.markdown'
  - changed-files:
      - any-glob-to-any-file: '**/*.mdx'

source:
  - changed-files:
      - any-glob-to-any-file: '**/*.{js,jsx,ts,tsx}'
test:
  - changed-files:
      - any-glob-to-any-file: '**/__tests__/*.{js,jsx,ts,tsx}'
  - changed-files:
      - any-glob-to-any-file: '**/*.{spec,test}.{js,jsx,ts,tsx}'
lint:
  - changed-files:
      - any-glob-to-any-file: 'lint-staged.config.js'
  - changed-files:
      - any-glob-to-any-file: 'eslint.config.js'
  - changed-files:
      - any-glob-to-any-file: 'prettier.config.js'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*.{yml,yaml}'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'
config:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
ignore:
  - changed-files:
      - any-glob-to-any-file: '**/node_modules/**'
  - changed-files:
      - any-glob-to-any-file: '**/dist/**'
  - changed-files:
      - any-glob-to-any-file: '**/build/**'
  - changed-files:
      - any-glob-to-any-file: '**/coverage/**'

style(package): clean up package.json formatting
  package.json
Labels: config

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: changelog

Bump version to: 4.2.7 [skip ci]
  package.json
Labels: config

ci(workflow): remove .autorc file and update CI workflow for automated releases
  .autorc
  .github/workflows/ci.yml
  bun.lockb
  package.json
Labels: ci/cd, config

ci(workflow): add release-please configuration for automated releases
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/ci.yml
Labels: ci/cd

chore(deps): update package dependencies and versions
  website/bun.lock
  website/package.json
Labels: none

refactor(globals.css): remove unused source import
  website/app/globals.css
Labels: none

refactor(globals.css): using shadcn preset
  website/app/globals.css
Labels: none

feat: add custom logger support
  src/index.ts
  website/content/docs/(general)/usage.mdx
Labels: source

feat: add Options type export to index.ts
  src/index.ts
Labels: source

chore: add bun.lock file for dependency management
  bun.lock
  bun.lockb
Labels: none

fix: improve server configuration defaults
  src/extensions/start-server.ts
Labels: source

refactor: use nullish coalescing for server configuration defaults
  src/extensions/start-server.ts
Labels: source

style: formatting in package.json and release-please manifest
  .github/.release-please-manifest.json
  package.json
Labels: config

chore: update CHANGELOG.md to remove v4.2.3 details and prepare for 5.0.0 release
  CHANGELOG.md
Labels: changelog

ci: add NPM setup step to CI workflow for Node.js 20
  .github/workflows/ci.yml
Labels: ci/cd

docs: update CHANGELOG.md for 5.0.0 release, summarizing new features, bug fixes, and improvements
  CHANGELOG.md
Labels: changelog

chore: remove release-please configuration files from the repository and update CI workflow to use simplified release process
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/ci.yml
Labels: ci/cd

ci: add checkout step to CI workflow for improved build process
  .github/workflows/ci.yml
Labels: ci/cd

chore(deps-dev): bump bunup and bun-dts versions
  bun.lock
Labels: none

feat(logging): add custom log methods and context support
  src/index.ts
  src/interfaces/index.ts
  src/logger/build-log-message.ts
  src/logger/create-logger.ts
Labels: source

fix(logging): set hasCustomLog to false in logixlysia function
  src/index.ts
Labels: source

refactor(logging): streamline logging behavior in logixlysia function
  src/index.ts
Labels: source

fix(logging): prevent duplicate logging when using custom logs
  src/index.ts
  src/interfaces/index.ts
  src/logger/create-logger.ts
Labels: source

fix(logging): improve context serialization in log messages
  src/logger/build-log-message.ts
Labels: source

feat(tests): add comprehensive tests for route logger functionality
  __tests__/logger/route-logger.test.ts
  example/index.ts
Labels: source, test

chore: remove example application code from index.ts
  example/index.ts
Labels: source

chore(deps-dev): update dependencies in bun.lock
  bun.lock
Labels: none

chore(biome): update schema version and enhance linter rules
  biome.json
Labels: none

feat(linter): add Ultracite cursor rules for improved accessibility and code quality
  .cursor/rules/ultracite.mdc
Labels: none

style: improve code structure and formatting across multiple files
  __tests__/logger/route-logger.test.ts
  package.json
  src/helpers/path.ts
  src/helpers/timestamp.ts
  src/index.ts
  src/logger/create-logger.ts
  website/app/(home)/components/copy-button.tsx
  website/app/(home)/components/hero.tsx
  website/app/(home)/components/installer.tsx
  website/app/(home)/components/playground.tsx
  website/app/(home)/components/snippet.tsx
  website/app/(home)/layout.tsx
  website/app/(home)/page.tsx
  website/app/api/search/route.ts
  website/app/docs/[[...slug]]/page.tsx
  website/app/docs/layout.tsx
  website/app/layout.tsx
  website/components/logo/index.tsx
  website/components/ui/badge.tsx
  website/components/ui/button.tsx
  website/components/ui/sonner.tsx
  website/components/ui/tabs.tsx
  website/lib/layout.tsx
  website/lib/source.ts
Labels: source, test, config

chore(deps): update @radix-ui/react-slot, @radix-ui/react-tabs, and sonner dependencies
  website/bun.lock
  website/components/ui/badge.tsx
  website/components/ui/button.tsx
  website/components/ui/sonner.tsx
  website/components/ui/tabs.tsx
  website/package.json
Labels: source

fix: preserve existing state when initializing logixlysia store
  __tests__/state-overwrite.test.ts
  src/index.ts
Labels: source, test

refactor(tests): simplify state retrieval in state-overwrite tests
  __tests__/state-overwrite.test.ts
Labels: source, test

feat(logger): add option for disable internal log
  src/index.ts
  src/interfaces/index.ts
  src/logger/create-logger.ts
  src/logger/handle-http-error.ts
Labels: source

test(logger): add unit tests for disableInternalLogger functionality
  __tests__/logger/disable-internal-logger.test.ts
Labels: source, test

feat: integrate Pino as primary logger
  PINO_INTEGRATION.md
  __tests__/logger/create-logger.test.ts
  __tests__/logger/route-logger.test.ts
  package-lock.json
  package.json
  src/index.ts
  src/interfaces/index.ts
  src/logger/create-logger.ts
  test-pino.js
Labels: source, test, config

Remove test-pino.js integration test
  test-pino.js
Labels: source

chore: update dependencies in bun.lock
  bun.lock
  package-lock.json
Labels: none

refactor(tests): simplify logger mock implementations in create-logger tests
  __tests__/logger/create-logger.test.ts
Labels: source, test
