Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

ci(github-actions): update npm check version flow
  .github/workflows/npm.yml
Labels: ci/cd

ci(github-actions): wrong env name
  .github/workflows/npm.yml
Labels: ci/cd

ci(github-actions): specific version
  .github/workflows/ci.yml
Labels: ci/cd

ci(github-actions): remove rebase version
  .github/workflows/ci.yml
Labels: ci/cd

ci(github-actions): make rebase `2.0.0`
  .github/workflows/ci.yml
Labels: ci/cd

ci(gituhb-actions): remove `release-as`
  .github/workflows/ci.yml
Labels: ci/cd

ci(github-actions): update event matching
  .github/workflows/cd.yml
Labels: ci/cd

chore(github-actions): add labeler for conflict
  .github/workflows/labeler.yml
Labels: ci/cd

ci(github-actions): move deploy to npm to ci.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ci/cd

style(ci): change emoji
  .github/workflows/ci.yml
Labels: ci/cd

chore(bot): add dependabot for update packages version
  .github/dependabot.yml
Labels: none

ci(github-actions): rename flows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: ci/cd

chore(dep): remove useless keyword
  package.json
Labels: config

docs(prettier): add prettier ignore
  .prettierignore
Labels: none

🧹 chore(dep): update dependencies
  bun.lockb
  package.json
Labels: config

chore(dep): update dependencies
  bun.lockb
  package.json
Labels: config

chore(config): add config commitizen
  .czrc
Labels: none

ci(security): remove tufflehog
  .github/workflows/security.yml
Labels: ci/cd

ci(dependabot): remove `commit-message` config
  .github/dependabot.yml
Labels: none

fix(index): elysia `0.8.8` doesn't contain `app` variable
  src/index.ts
Labels: source

style(start): modify spacing on title message
  src/utils/start.ts
Labels: source

chore(dep): update packages
  bun.lockb
  package.json
Labels: config

fix(logger): change time from `iso` to `local`
  src/logger.ts
Labels: source

style(start): remove clear console before running
  src/utils/start.ts
Labels: source

test(utils): add test for all utils
  package.json
  test/utils/duration.test.ts
  test/utils/log.test.ts
  test/utils/method.test.ts
  test/utils/path.test.ts
  test/utils/start.test.ts
  test/utils/status.test.ts
Labels: config

test(types): add test for types
  test/types/ColorMap.test.ts
  test/types/Logger.test.ts
  test/types/RequestInfo.test.ts
  test/types/Server.test.ts
  test/types/StoreData.test.ts
Labels: none

test(duration): use test cases instead
  test/utils/duration.test.ts
Labels: none

chore(pre-commit): add test before commit
  lint-staged.config.cjs
Labels: none

ci(ci): add test task
  .github/workflows/ci.yml
Labels: ci/cd

ci(github-actions): add dependecy review when have pr
  .github/workflows/dependency-review.yml
Labels: ci/cd

ci(ci): remove report task
  .github/workflows/ci.yml
Labels: ci/cd

ci(ci): update lint and test task
  .github/workflows/ci.yml
Labels: ci/cd

ci(ci): bun not support `windowsOS`
  .github/workflows/ci.yml
Labels: ci/cd

chore(pm): update script for dynamic
  .github/workflows/ci.yml
  package.json
Labels: ci/cd, config

chore(dep): update dependencies
  bun.lockb
  package.json
Labels: config

refactor(utils): optimize and enhance utility functions for better performance
  src/utils/colorMapping.ts
  src/utils/duration.ts
  src/utils/log.ts
  src/utils/method.ts
  src/utils/path.ts
  src/utils/start.ts
  src/utils/status.ts
Labels: source

style(color-mapping): add black color to text
  src/utils/colorMapping.ts
Labels: source

style(start): on box something went wrong
  src/utils/start.ts
Labels: source

test(path): make coverage testing
  test/utils/path.test.ts
Labels: none

docs(test/utils): change describe to look quite nice
  test/utils/duration.test.ts
  test/utils/log.test.ts
  test/utils/method.test.ts
  test/utils/start.test.ts
  test/utils/status.test.ts
Labels: none

.github/labeler.yml:

'source':
  - 'src/**/*.{js,jsx,ts,tsx}'

'test':
  - 'src/**/__tests__/*.{js,jsx,ts,tsx}'
  - 'src/**/*.{spec,test}.{js,jsx,ts,tsx}'

'lint':
  - '.eslintrc.js'
  - '.prettierrc.js'

'ci/cd':
  - '.github/workflows/**/*.{yml,yaml}'

'changelog':
  - 'CHANGELOG.md'

'config':
  - 'package.json'
  - 'bun.lockb'

'ignore':
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/build/**'
  - '**/coverage/**'
