Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

.github/labeler.yml:

source:
  - 'src/**/*.{js,jsx,ts,tsx}'

test:
  - 'src/**/__tests__/*.{js,jsx,ts,tsx}'
  - 'src/**/*.{spec,test}.{js,jsx,ts,tsx}'

lint:
  - 'lint-staged.config.js'
  - 'eslint.config.js'
  - 'prettier.config.js'

ci/cd:
  - '.github/workflows/**/*.{yml,yaml}'
  - '.github/labeler.yml'

changelog:
  - 'CHANGELOG.md'

config:
  - 'package.json'
  - 'bun.lockb'

ignore:
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/build/**'
  - '**/coverage/**'

ci(release-please): bump version from `@v3` to `@v4`
  .github/workflows/ci.yml
Labels: ci/cd

chore(report-template): update emoji and re-new description
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

chore(feature-request): update emoji and clarified on description
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

ci(labeler): update configuration for `actions/labeler`
  .github/workflows/labeler.yml
Labels: ci/cd

chore(deps): add commitizen to locally and config git stage
  .czrc
  bun.lockb
  package.json
Labels: config

chore(husky): move ggshield to pre-push
  .husky/pre-commit
  .husky/pre-push
  package.json
Labels: config

chore(husky): change pre-push to testing
  .husky/pre-push
Labels: none

refactor(*): update logger functionally to support configurable IP logging
  src/index.ts
  src/logger.ts
  src/options.ts
  src/types.ts
  src/types/ColorMap.ts
  src/types/HttpError.ts
  src/types/Logger.ts
  src/types/RequestInfo.ts
  src/types/Server.ts
  src/types/StoreData.ts
  src/utils/colorMapping.ts
  src/utils/path.ts
  src/utils/start.ts
  test/types/ColorMap.test.ts
  test/types/HttpError.test.ts
  test/types/Logger.test.ts
  test/types/RequestInfo.test.ts
  test/types/Server.test.ts
  test/types/StoreData.test.ts
  test/utils/path.test.ts
  test/utils/start.test.ts
Labels: source

fix(index): remove duplicate logging when options IP enabled
  src/index.ts
Labels: source

test(index): separate to 2 testing
  test/logixlysia.test.ts
Labels: none

feat(options): add support for custom log format
  example/basic.ts
  src/logger.ts
  src/types.ts
Labels: source
