Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

fix(docs): adjust Card component styling in comparison section
  apps/docs/app/(home)/components/comparison.tsx
Labels: source

chore(husky): remove pre-commit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
Labels: none

feat(docs): add custom selection styling to global CSS
  apps/docs/app/globals.css
Labels: none

fix(docs): update file includes in biome configuration
  biome.jsonc
Labels: none

fix(tests): update import paths in test files to point to the src directory
  packages/cli/__tests__/logger/route-logger.test.ts
  packages/cli/__tests__/output/log-rotation.test.ts
  packages/cli/__tests__/state-overwrite.test.ts
Labels: source, test

refactor(cli): reorganize logger and helper imports, update type definitions
  packages/cli/src/extensions/index.ts
  packages/cli/src/helpers/index.ts
  packages/cli/src/index.ts
  packages/cli/src/interfaces/index.ts
  packages/cli/src/logger/build-log-message.ts
  packages/cli/src/logger/create-logger.ts
  packages/cli/src/logger/handle-http-error.ts
  packages/cli/src/logger/index.ts
  packages/cli/src/output/console.ts
  packages/cli/src/output/file.ts
  packages/cli/src/output/index.ts
  packages/cli/src/utils/rotation.ts
Labels: source

refactor(cli): convert default exports to named exports for consistency
  packages/cli/src/extensions/start-server.ts
  packages/cli/src/helpers/duration.ts
  packages/cli/src/helpers/log.ts
  packages/cli/src/helpers/method.ts
  packages/cli/src/helpers/path.ts
  packages/cli/src/helpers/status.ts
  packages/cli/src/helpers/timestamp.ts
  packages/cli/src/index.ts
  packages/cli/src/logger/build-log-message.ts
  packages/cli/src/logger/create-logger.ts
  packages/cli/src/logger/filter.ts
  packages/cli/src/logger/handle-http-error.ts
  packages/cli/src/output/console.ts
  packages/cli/src/output/file.ts
  packages/cli/src/output/rotation-manager.ts
  packages/cli/src/utils/rotation.ts
Labels: source

feat(example): add new example app with Elysia and Logixlysia integration
  apps/example/package.json
  apps/example/src/index.ts
  apps/example/tsconfig.json
  bun.lock
  packages/cli/package.json
Labels: source

chore(dependencies): update package versions and restructure package.json files
  apps/example/package.json
  bun.lock
  packages/cli/package.json
Labels: none

refactor(tsconfig): update TypeScript configuration for example app and CLI
  apps/example/tsconfig.json
  packages/cli/tsconfig.json
Labels: none

feat(example): integrate Swagger and add new routes for logging and error handling
  apps/example/package.json
  apps/example/src/index.ts
  apps/example/src/routes/boom.ts
  apps/example/src/routes/custom.ts
  apps/example/src/routes/index.ts
  apps/example/src/routes/pino.ts
  apps/example/src/routes/status.ts
  bun.lock
Labels: source

refactor(tsconfig): update TypeScript configuration for CLI package
  packages/cli/tsconfig.json
Labels: none

chore(tests): remove obsolete test files for state management, server startup, status codes, and logging
  packages/cli/__tests__/extensions/start-server.test.ts
  packages/cli/__tests__/helpers/status.test.ts
  packages/cli/__tests__/logger/create-logger.test.ts
  packages/cli/__tests__/logger/disable-internal-logger.test.ts
  packages/cli/__tests__/logger/logging-output-control.test.ts
  packages/cli/__tests__/logger/route-logger.test.ts
  packages/cli/__tests__/output/log-rotation.test.ts
  packages/cli/__tests__/output/log-to-transports.test.ts
  packages/cli/__tests__/state-overwrite.test.ts
Labels: source, test

chore(package.json): update clean scripts for consistency across applications
  apps/docs/package.json
  apps/example/package.json
  package.json
  packages/cli/package.json
Labels: config

feat(cli): restructure logging pipeline and startup banner
  apps/example/src/index.ts
  bun.lock
  packages/cli/src/extensions/banner.ts
  packages/cli/src/extensions/index.ts
  packages/cli/src/extensions/start-server.ts
  packages/cli/src/helpers/color-mapping.ts
  packages/cli/src/helpers/duration.ts
  packages/cli/src/helpers/log.ts
  packages/cli/src/helpers/method.ts
  packages/cli/src/helpers/path.ts
  packages/cli/src/helpers/status.ts
  packages/cli/src/helpers/timestamp.ts
  packages/cli/src/index.ts
  packages/cli/src/interfaces.ts
  packages/cli/src/interfaces/index.ts
  packages/cli/src/logger/build-log-message.ts
  packages/cli/src/logger/create-logger.ts
  packages/cli/src/logger/filter.ts
  packages/cli/src/logger/handle-http-error.ts
  packages/cli/src/logger/index.ts
  packages/cli/src/output/console.ts
  packages/cli/src/output/file.ts
  packages/cli/src/output/fs.ts
  packages/cli/src/output/index.ts
  packages/cli/src/output/rotation-manager.ts
  packages/cli/src/utils/error.ts
  packages/cli/src/utils/rotation.ts
Labels: source

fix(docs): update icons in CopyMarkdown component
  apps/docs/components/copy-markdown.tsx
Labels: source

chore(tsconfig): remove `include` property from CLI TypeScript configuration
  packages/cli/tsconfig.json
Labels: none

feat(logger): enhance logger configuration with transport options
  packages/cli/src/logger/index.ts
Labels: source

feat(cli): update bunup configuration and package.json for improved output structure
  packages/cli/bunup.config.ts
  packages/cli/package.json
Labels: source

feat(cli): enhance status code handling with normalization
  packages/cli/src/helpers/status.ts
Labels: source

feat(logger): enhance logging output with level-specific methods
  packages/cli/src/logger/index.ts
Labels: source

feat(docs): add Vercel configuration and CI skip script
  apps/docs/scripts/skip-ci.js
  apps/docs/vercel.json
Labels: source

chore(dependabot): update configuration for bun package ecosystem
  .github/dependabot.yml
Labels: none

chore(ci): rename from `codeql` to `security`
  .github/workflows/security.yml
Labels: ci/cd

chore(ci): remove pull request workflow configuration
  .github/workflows/pull-request.yml
Labels: ci/cd

chore(ci): update pull request trigger types for dependency review workflow
  .github/workflows/dependency-review.yml
Labels: ci/cd

chore(ci): update GitHub Actions workflows to use latest action versions
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/security.yml
Labels: ci/cd

chore(ci): replace CI workflow with validation workflow
  .github/workflows/ci.yml
  .github/workflows/validate.yml
Labels: ci/cd

feat: integrate Changesets for versioning and publishing
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  bun.lock
  package.json
Labels: ci/cd, config

chore: update pull request template for clarity and structure
  .github/pull_request_template.md
Labels: none

feat(gh-template): add new issue templates for bug reports and feature requests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/failure_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

feat(tests): add comprehensive test suite for logging and server functionality
  package.json
  packages/cli/__tests__/_helpers/console.ts
  packages/cli/__tests__/_helpers/request.ts
  packages/cli/__tests__/_helpers/tmp.ts
  packages/cli/__tests__/extensions/start-server.test.ts
  packages/cli/__tests__/logger/create-logger.test.ts
  packages/cli/__tests__/output/file.test.ts
  packages/cli/__tests__/output/transports.test.ts
  packages/cli/__tests__/plugin/logixlysia.test.ts
  packages/cli/tsconfig.json
  turbo.json
Labels: source, test, config

feat: add typecheck script to package.json files
  apps/example/package.json
  package.json
  packages/cli/package.json
  turbo.json
Labels: config

refactor(docs): replace icons in ViewOptions component with Tabler icons
  apps/docs/components/page-actions.tsx
Labels: source

feat(docs): add useIsMobile hook for mobile detection
  apps/docs/hooks/use-mobile.ts
Labels: source

fix(ci): update test command in validation workflow
  .github/workflows/validate.yml
Labels: ci/cd

fix(cli): update clean script in package.json
  packages/cli/package.json
Labels: none

fix(turbo): update outputs in Turbo configuration
  turbo.json
Labels: none

refactor(cli): remove unused RequestInfo type from interfaces.ts
  packages/cli/src/interfaces.ts
Labels: source

refactor(cli): simplify logixlysia function and remove unused types
  packages/cli/src/index.ts
Labels: source

.github/labeler.yml:

enhancement:
  - head-branch:
      ['^feature', 'feature', '^feat', 'feat', '^enhancement', 'enhancement']

website:
  - head-branch:
      ['^website', 'website']
  - changed-files:
      - any-glob-to-any-file: '**/website/**/*'

docs:
  - head-branch:
      ['^docs', 'docs']
  - changed-files:
      - any-glob-to-any-file: '**/docs/**/*'
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
  - changed-files:
      - any-glob-to-any-file: '**/*.markdown'
  - changed-files:
      - any-glob-to-any-file: '**/*.mdx'

source:
  - changed-files:
      - any-glob-to-any-file: '**/*.{js,jsx,ts,tsx}'
test:
  - changed-files:
      - any-glob-to-any-file: '**/__tests__/*.{js,jsx,ts,tsx}'
  - changed-files:
      - any-glob-to-any-file: '**/*.{spec,test}.{js,jsx,ts,tsx}'
lint:
  - changed-files:
      - any-glob-to-any-file: 'lint-staged.config.js'
  - changed-files:
      - any-glob-to-any-file: 'eslint.config.js'
  - changed-files:
      - any-glob-to-any-file: 'prettier.config.js'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*.{yml,yaml}'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'
config:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
ignore:
  - changed-files:
      - any-glob-to-any-file: '**/node_modules/**'
  - changed-files:
      - any-glob-to-any-file: '**/dist/**'
  - changed-files:
      - any-glob-to-any-file: '**/build/**'
  - changed-files:
      - any-glob-to-any-file: '**/coverage/**'
