Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

fix(example): set default port in app.listen to 3001
  apps/example/src/index.ts
Labels: source

chore(deps): update dependencies across the project
  apps/docs/package.json
  apps/example/package.json
  bun.lock
  package.json
  packages/cli/package.json
Labels: config

refactor(elysia-example): rename example app to elysia and reorganize routes structure
  apps/elysia/package.json
  apps/elysia/src/index.ts
  apps/elysia/src/routers/boom.ts
  apps/elysia/src/routers/custom.ts
  apps/elysia/src/routers/index.ts
  apps/elysia/src/routers/pino.ts
  apps/elysia/src/routers/status.ts
  apps/elysia/tsconfig.json
  apps/example/src/index.ts
  apps/example/src/routes/index.ts
  bun.lock
Labels: source

refactor(elysia): streamline imports and remove default port fallback
  apps/elysia/src/index.ts
Labels: source

feat(elysia-node): add new Elysia Node example with logging and custom routes
  apps/elysia-node/package.json
  apps/elysia-node/src/index.ts
  apps/elysia-node/src/routers/boom.ts
  apps/elysia-node/src/routers/custom.ts
  apps/elysia-node/src/routers/index.ts
  apps/elysia-node/src/routers/pino.ts
  apps/elysia-node/src/routers/status.ts
  apps/elysia-node/tsconfig.json
  bun.lock
Labels: source

fix(elysia-node): update application title in documentation
  apps/elysia-node/src/index.ts
Labels: source

feat(docs): enhance documentation for Logixlysia
  apps/docs/content/(docs)/api-reference.mdx
  apps/docs/content/(docs)/configuration.mdx
  apps/docs/content/(docs)/contributing.mdx
  apps/docs/content/(docs)/examples.mdx
  apps/docs/content/(docs)/faq.mdx
  apps/docs/content/(docs)/introduction.mdx
  apps/docs/content/(docs)/meta.json
  apps/docs/content/(docs)/preview.png
  apps/docs/content/(docs)/screenshot.png
  apps/docs/content/(docs)/usage.mdx
  apps/docs/content/features/file-logging.mdx
  apps/docs/content/features/filtering.mdx
  apps/docs/content/features/formatting.mdx
  apps/docs/content/features/introduction.mdx
  apps/docs/content/features/log-levels.mdx
  apps/docs/content/features/log-rotation.mdx
  apps/docs/content/features/meta.json
  apps/docs/content/features/metrics.mdx
  apps/docs/content/features/pino-integration.mdx
  apps/docs/content/features/startup.mdx
  apps/docs/content/features/transports.mdx
  apps/docs/content/meta.json
  apps/elysia-node/README.md
  apps/elysia-node/public/preview.png
  apps/elysia/README.md
  apps/elysia/public/preview.png
Labels: none

chore(config): update ignored paths in changeset configuration
  .changeset/config.json
Labels: none

chore(config): change access level in changeset configuration from restricted to public
  .changeset/config.json
Labels: none

fix(docs): clarify Logixlysia import statement in demo component
  apps/docs/app/(home)/components/demo.tsx
Labels: source

feat(routers): add welcome route for Elysia and Elysia Node
  apps/elysia-node/src/routers/index.ts
  apps/elysia/src/routers/index.ts
Labels: source

fix(config): update ignored paths in changeset configuration to reflect new example directories
  .changeset/config.json
Labels: none

chore(release): add breaking change notice for major update in Logixlysia
  .changeset/mighty-dogs-leave.md
Labels: none

chore(release): set up Node.js environment and update npm in release workflow
  .github/workflows/release.yml
Labels: ci/cd

chore(release): remove Node.js setup and npm update steps from release workflow
  .github/workflows/release.yml
Labels: ci/cd

docs(readme): update image source in README for Logixlysia
  README.md
Labels: none

docs(readme): update image source path in README for Logixlysia
  README.md
Labels: none

docs(readme): add initial README for Logixlysia with installation, usage, and documentation details
  .changeset/wet-squids-roll.md
  packages/cli/README.md
Labels: none

docs(readme): update example usage in README for Logixlysia with enhanced configuration and welcome message
  .changeset/wild-birds-drum.md
  README.md
Labels: none

chore(release): reintroduce Node.js setup and npm update steps in release workflow
  .github/workflows/release.yml
Labels: ci/cd

docs: Add GitHub issues report
  GITHUB_ISSUES_REPORT.md
Labels: none

Feat: Add OPEN_ISSUES_REPORT.md for post-PR #171 analysis
  OPEN_ISSUES_REPORT.md
Labels: none

feat: Add open issues v6.0.0 audit report
  OPEN_ISSUES_V6_CHECK.md
Labels: none

chore(lock): update version in lock file
  bun.lock
Labels: none

docs: update documentation structure and add Pino integration guide
  apps/docs/content/(docs)/introduction.mdx
  apps/docs/content/(docs)/usage.mdx
  apps/docs/content/features/meta.json
  apps/docs/content/integrations/meta.json
  apps/docs/content/integrations/pino.mdx
  apps/docs/content/meta.json
Labels: none

docs(faq): update help section links for consistency
  apps/docs/content/(docs)/faq.mdx
Labels: none

docs(readme): remove outdated content from README for Logixlysia
  README.md
  packages/cli/README.md
Labels: none

docs(security): add initial security policy document outlining supported versions and vulnerability reporting
  SECURITY.md
Labels: none

docs(readme): simplify README header for clarity
  packages/cli/README.md
Labels: none

docs(code of conduct): add Contributor Covenant Code of Conduct to promote a respectful community
  .github/CODE_OF_CONDUCT.md
Labels: none

docs(readme): remove symlink to CLI README as part of documentation cleanup
  README.md
Labels: none

docs(readme): add detailed Logixlysia documentation with installation, usage examples, and license information
  README.md
  packages/cli/README.md
Labels: none

docs(contributing): add contributing guidelines for Logixlysia project
  .github/CONTRIBUTING.md
Labels: none

chore(dependabot): update configuration to include GitHub Actions and npm with monthly update schedule
  .github/dependabot.yml
Labels: none

chore(funding): add GitHub funding configuration for PunGrumpy
  .github/FUNDING.yml
Labels: none

chore(dependabot): change package ecosystem from npm to bun in configuration
  .github/dependabot.yml
Labels: none

chore(deps): remove duplicate fumadocs-core entries from bun.lock
  bun.lock
Labels: none

refactor: change type aliases to interfaces for better type definition consistency across components
  apps/docs/app/(home)/components/playground/index.tsx
  apps/docs/app/layout.tsx
  apps/docs/components/copy-button.tsx
  apps/docs/components/copy-markdown.tsx
  apps/docs/components/installer.tsx
  apps/docs/components/page-actions.tsx
  packages/cli/src/interfaces.ts
  packages/cli/src/output/file.ts
  packages/cli/src/output/index.ts
Labels: source

.github/labeler.yml:

enhancement:
  - head-branch:
      ['^feature', 'feature', '^feat', 'feat', '^enhancement', 'enhancement']

website:
  - head-branch:
      ['^website', 'website']
  - changed-files:
      - any-glob-to-any-file: '**/website/**/*'

docs:
  - head-branch:
      ['^docs', 'docs']
  - changed-files:
      - any-glob-to-any-file: '**/docs/**/*'
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
  - changed-files:
      - any-glob-to-any-file: '**/*.markdown'
  - changed-files:
      - any-glob-to-any-file: '**/*.mdx'

source:
  - changed-files:
      - any-glob-to-any-file: '**/*.{js,jsx,ts,tsx}'
test:
  - changed-files:
      - any-glob-to-any-file: '**/__tests__/*.{js,jsx,ts,tsx}'
  - changed-files:
      - any-glob-to-any-file: '**/*.{spec,test}.{js,jsx,ts,tsx}'
lint:
  - changed-files:
      - any-glob-to-any-file: 'lint-staged.config.js'
  - changed-files:
      - any-glob-to-any-file: 'eslint.config.js'
  - changed-files:
      - any-glob-to-any-file: 'prettier.config.js'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*.{yml,yaml}'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'
config:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
ignore:
  - changed-files:
      - any-glob-to-any-file: '**/node_modules/**'
  - changed-files:
      - any-glob-to-any-file: '**/dist/**'
  - changed-files:
      - any-glob-to-any-file: '**/build/**'
  - changed-files:
      - any-glob-to-any-file: '**/coverage/**'
