Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

docs(test/utils): forgot to save (i'm so sad)
  test/utils/duration.test.ts
Labels: none

refactor(src): streamline event handling and logging in index and logger
  src/index.ts
  src/logger.ts
Labels: source

refactor(src): optimize logger to use a unified log function
  src/index.ts
  src/logger.ts
  src/types/Logger.ts
Labels: source

feat(logger): implement asynchronous logging functionality
  src/logger.ts
Labels: source

ci(ci): change `test` stage to test on ubuntu latest version only
  .github/workflows/ci.yml
Labels: ci/cd

ci(ci): add secret for publish package
  .github/workflows/ci.yml
Labels: ci/cd

refactor: optimize for performance and clarity
  package.json
Labels: config

docs(ci): add comment `TODO`
  .github/workflows/ci.yml
Labels: ci/cd

test(duration): add description to test cases for separate name
  test/utils/duration.test.ts
Labels: none

ci(ci): try to use `macos-latest`
  .github/workflows/ci.yml
Labels: ci/cd

ci(ci): `macos-latest` still not working
  .github/workflows/ci.yml
Labels: ci/cd

test(duration): add reg expression for checking expect
  .github/workflows/ci.yml
  test/utils/duration.test.ts
Labels: ci/cd

test: revert
  .github/workflows/ci.yml
  test/utils/duration.test.ts
Labels: ci/cd

refactor(duration): optimize for clarity and efficiency
  src/utils/duration.ts
Labels: source

ci(ci): try to use `macos-latest`
  .github/workflows/ci.yml
Labels: ci/cd

ci(ci): new we can fix testing for running on `macos-latest`
  .github/workflows/ci.yml
Labels: ci/cd

feat(options): add show ip
  README.md
  example/basic.ts
  src/index.ts
  src/options.ts
Labels: source

fix(logger): change to use array and push them
  src/index.ts
  src/options.ts
Labels: source

test(index): add unit tests for `logixlysia` server
  bun.lockb
  package.json
  test/logixlysia.test.ts
Labels: config

ci(codeql): update version from `v2` to `v3`
  .github/workflows/codeql.yml
Labels: ci/cd

test(describe): add `descibe` for tell not include IP logging
  test/logixlysia.test.ts
Labels: none

chore(deps): update packages version
  bun.lockb
  package.json
Labels: config

revert(deps): new come back to old version
  package.json
Labels: config

fix(index): remove `onBeforeHandle` for avoid repeat logging
  src/index.ts
Labels: source

test(duration): avoid error on `CI`
  test/utils/duration.test.ts
Labels: none

chore(deps): update lock
  bun.lockb
Labels: config

ci(cache): update version from `v3` to `v4`
  .github/workflows/ci.yml
Labels: ci/cd

fix: package.json to reduce vulnerabilities
  package.json
Labels: config

fix(eslint): change to use `eslint.config.cjs` instead `.eslintrc.cjs`
  eslint.config.cjs
  package.json
Labels: config

ci(ci): add `continue-on-error` on publish stage
  .github/workflows/ci.yml
Labels: ci/cd

fix(ts2488): that method return an iterator
  test/utils/start.test.ts
Labels: none

fix(error-log): add global to `onError`
  src/index.ts
Labels: source

chore(ggshield): add configuration for gitguardian
  .gitguardian.yml
Labels: none

feat(logger): handle HTTP errors and log with appropriate status code
  example/basic.ts
  src/index.ts
  src/logger.ts
  src/types/HttpError.ts
Labels: source

chore(husky): `husky install` deprecated
  package.json
Labels: config

chore(husky): add scan secret (with ggshield) in pre-commit script
  .husky/pre-commit
Labels: none

test(logger): add test for throw error and ip enable
  src/index.ts
  test/logixlysia.test.ts
Labels: source

test(type): add http error type
  test/types/HttpError.test.ts
Labels: none

.github/labeler.yml:

'source':
  - 'src/**/*.{js,jsx,ts,tsx}'

'test':
  - 'src/**/__tests__/*.{js,jsx,ts,tsx}'
  - 'src/**/*.{spec,test}.{js,jsx,ts,tsx}'

'lint':
  - '.eslintrc.js'
  - '.prettierrc.js'

'ci/cd':
  - '.github/workflows/**/*.{yml,yaml}'

'changelog':
  - 'CHANGELOG.md'

'config':
  - 'package.json'
  - 'bun.lockb'

'ignore':
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/build/**'
  - '**/coverage/**'
