Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

fix(tests): update Pino logger type definition in route logger tests
  __tests__/logger/route-logger.test.ts
Labels: source, test

refactor(logger): improve code formatting and type imports in create-logger
  src/logger/create-logger.ts
Labels: source

feat(logger): add options for file and transport logging control
  src/interfaces/index.ts
  src/logger/create-logger.ts
  src/logger/handle-http-error.ts
Labels: source

test(logger): add comprehensive tests for logging output control options
  __tests__/logger/logging-output-control.test.ts
Labels: source, test

docs(logger): enhance documentation for output control options
  website/content/docs/(general)/usage.mdx
  website/content/docs/features/transports.mdx
Labels: none

docs(transports): enhance TypeScript definitions and error handling in transport examples
  website/content/docs/features/transports.mdx
Labels: none

feat(log-rotation): implement complete rotation with interval support
  README.md
  __tests__/output/log-rotation.test.ts
  src/index.ts
  src/interfaces/index.ts
  src/output/file.ts
  src/output/rotation-manager.ts
  src/utils/rotation.ts
  website/content/docs/features/log-rotation.mdx
Labels: source, test

fix(rotation): use basename for file path extraction in getRotatedFiles function
  src/utils/rotation.ts
Labels: source

feat(log-rotation): enhance compression handling and documentation
  __tests__/output/log-rotation.test.ts
  src/interfaces/index.ts
  src/output/rotation-manager.ts
  website/content/docs/features/log-rotation.mdx
Labels: source, test

feat(rotation): add time-based rotation support in shouldRotate function
  src/output/rotation-manager.ts
Labels: source

fix(rotation): improve cache check in shouldRotateByTime function
  src/utils/rotation.ts
Labels: source

chore(deps): update dependencies and configuration files
  biome.json
  bun.lock
  package.json
Labels: config

chore(deps): update dependencies and configuration files
  website/bun.lock
  website/package.json
Labels: none

feat(pino-integration): enhance documentation and features for Pino integration
  website/content/docs/(general)/index.mdx
  website/content/docs/(general)/usage.mdx
  website/content/docs/features/index.mdx
  website/content/docs/features/meta.json
  website/content/docs/features/pino-integration.mdx
Labels: none

fix(pino-integration): remove outdated best practices link from documentation
  website/content/docs/features/pino-integration.mdx
Labels: none

chore(pino-integration): remove Pino integration documentation
  PINO_INTEGRATION.md
Labels: none

refactor(pino-integration): update PinoConfig interface to extend LoggerOptions
  src/interfaces/index.ts
Labels: source

refactor(logger): improve Pino logger configuration and transport handling
  src/logger/create-logger.ts
Labels: source

fix(logger): improve error stack handling in log function
  src/logger/create-logger.ts
Labels: source

refactor(pino-integration): update prettyPrint type in PinoConfig interface
  src/interfaces/index.ts
Labels: source

refactor(logger): streamline logging functions and enhance Pino integration
  src/logger/create-logger.ts
Labels: source

refactor(logger): simplify Pino emission logic in logging function
  src/logger/create-logger.ts
Labels: source

refactor(logger): enhance Pino configuration handling in createPinoInstance
  src/logger/create-logger.ts
Labels: source

fix(logger): add warning for unknown log levels in mapLogLevelToPino function
  src/logger/create-logger.ts
Labels: source

fix(logger): improve error handling in log function
  src/logger/create-logger.ts
Labels: source

refactor(logger): simplify Pino configuration in createPinoInstance
  src/logger/create-logger.ts
Labels: source

fix(logger): enhance transport handling and client IP logging
  src/logger/create-logger.ts
Labels: source

fix(logger): enhance Pino output handling in emitPinoLog function
  src/logger/create-logger.ts
Labels: source

Fix React Server Components CVE vulnerabilities
  website/package.json
Labels: none

fix(pino-integration): improve store typing inference for pino logger
  __tests__/logger/route-logger.test.ts
  src/index.ts
Labels: source, test

Move `__tests` folder to packages/cli
  packages/cli/__tests__/extensions/start-server.test.ts
  packages/cli/__tests__/helpers/status.test.ts
  packages/cli/__tests__/logger/create-logger.test.ts
  packages/cli/__tests__/logger/disable-internal-logger.test.ts
  packages/cli/__tests__/logger/logging-output-control.test.ts
  packages/cli/__tests__/logger/route-logger.test.ts
  packages/cli/__tests__/output/log-rotation.test.ts
  packages/cli/__tests__/output/log-to-transports.test.ts
  packages/cli/__tests__/state-overwrite.test.ts
Labels: source, test

chore(cli): remove TypeScript declaration options from cli tsconfig.json for cleaner build output
  packages/cli/tsconfig.json
Labels: none

feat(cli): add bunup configuration for Logixlysia project
  packages/cli/bunup.config.ts
Labels: source

chore: update package scripts and configurations
  package.json
  packages/cli/package.json
  turbo.json
Labels: config

chore(turbo): add global dependencies for local environment files
  turbo.json
Labels: none

chore(cli): update TypeScript configuration in tsconfig.json
  packages/cli/tsconfig.json
Labels: none

refactor(cli): move to `src` folder
  packages/cli/__tests__/extensions/start-server.test.ts
  packages/cli/__tests__/helpers/status.test.ts
  packages/cli/__tests__/logger/create-logger.test.ts
  packages/cli/__tests__/logger/disable-internal-logger.test.ts
  packages/cli/__tests__/logger/logging-output-control.test.ts
  packages/cli/__tests__/output/log-rotation.test.ts
  packages/cli/__tests__/output/log-to-transports.test.ts
  packages/cli/src/extensions/index.ts
  packages/cli/src/extensions/start-server.ts
  packages/cli/src/helpers/color-mapping.ts
  packages/cli/src/helpers/duration.ts
  packages/cli/src/helpers/index.ts
  packages/cli/src/helpers/log.ts
  packages/cli/src/helpers/method.ts
  packages/cli/src/helpers/path.ts
  packages/cli/src/helpers/status.ts
  packages/cli/src/helpers/timestamp.ts
  packages/cli/src/index.ts
  packages/cli/src/interfaces/index.ts
  packages/cli/src/logger/build-log-message.ts
  packages/cli/src/logger/create-logger.ts
  packages/cli/src/logger/filter.ts
  packages/cli/src/logger/handle-http-error.ts
  packages/cli/src/logger/index.ts
  packages/cli/src/output/console.ts
  packages/cli/src/output/file.ts
  packages/cli/src/output/index.ts
  packages/cli/src/output/rotation-manager.ts
  packages/cli/src/utils/rotation.ts
Labels: source, test

refactor: move to `packages/cli`
  packages/cli/CHANGELOG.md
Labels: none

chore(docs): update dependencies and configurations in docs
  apps/docs/package.json
  bun.lock
Labels: none

chore(docs): update JSX setting in TypeScript configuration
  apps/docs/tsconfig.json
Labels: none

.github/labeler.yml:

enhancement:
  - head-branch:
      ['^feature', 'feature', '^feat', 'feat', '^enhancement', 'enhancement']

website:
  - head-branch:
      ['^website', 'website']
  - changed-files:
      - any-glob-to-any-file: '**/website/**/*'

docs:
  - head-branch:
      ['^docs', 'docs']
  - changed-files:
      - any-glob-to-any-file: '**/docs/**/*'
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
  - changed-files:
      - any-glob-to-any-file: '**/*.markdown'
  - changed-files:
      - any-glob-to-any-file: '**/*.mdx'

source:
  - changed-files:
      - any-glob-to-any-file: '**/*.{js,jsx,ts,tsx}'
test:
  - changed-files:
      - any-glob-to-any-file: '**/__tests__/*.{js,jsx,ts,tsx}'
  - changed-files:
      - any-glob-to-any-file: '**/*.{spec,test}.{js,jsx,ts,tsx}'
lint:
  - changed-files:
      - any-glob-to-any-file: 'lint-staged.config.js'
  - changed-files:
      - any-glob-to-any-file: 'eslint.config.js'
  - changed-files:
      - any-glob-to-any-file: 'prettier.config.js'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*.{yml,yaml}'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'
config:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
ignore:
  - changed-files:
      - any-glob-to-any-file: '**/node_modules/**'
  - changed-files:
      - any-glob-to-any-file: '**/dist/**'
  - changed-files:
      - any-glob-to-any-file: '**/build/**'
  - changed-files:
      - any-glob-to-any-file: '**/coverage/**'
