Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

.github/labeler.yml:

enhancements:
  - head-branch:
      ['^feature', 'feature', '^feat', 'feat', '^enhancement', 'enhancement']

source:
  - changed-files:
      - any-glob-to-any-file: '**/*.{js,jsx,ts,tsx}'
test:
  - changed-files:
      - any-glob-to-any-file: '**/__tests__/*.{js,jsx,ts,tsx}'
  - changed-files:
      - any-glob-to-any-file: '**/*.{spec,test}.{js,jsx,ts,tsx}'
lint:
  - changed-files:
      - any-glob-to-any-file: 'lint-staged.config.js'
  - changed-files:
      - any-glob-to-any-file: 'eslint.config.js'
  - changed-files:
      - any-glob-to-any-file: 'prettier.config.js'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*.{yml,yaml}'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'
config:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
ignore:
  - changed-files:
      - any-glob-to-any-file: '**/node_modules/**'
  - changed-files:
      - any-glob-to-any-file: '**/dist/**'
  - changed-files:
      - any-glob-to-any-file: '**/build/**'
  - changed-files:
      - any-glob-to-any-file: '**/coverage/**'

chore(ggshield): remove deprecated property
  .gitguardian.yml
Labels: none

chore(trunk): add config for trunk
  .gitmodules
Labels: none

chore(trunk): initial configuration
  .prettierrc
  .trunk/.gitignore
  .trunk/trunk.yaml
  package.json
Labels: config

chore(trunk): add formatter for png and bash
  .trunk/trunk.yaml
Labels: none

style(formatting): oxipng, shfmt
  .github/images/screenshot.png
  .husky/pre-commit
  .husky/pre-push
Labels: none

ci(github-actions): if condition is always evaluated to true
  .github/workflows/ci.yml
Labels: ci/cd

refactor(start): improve padding calculation
  src/utils/start.ts
Labels: source

refactor(path): improve function for clarity and simplicity
  example/basic.ts
  src/utils/path.ts
Labels: source

chore(package): add trunk lib and add script for trunk
  .husky/pre-commit
  bun.lockb
  package.json
Labels: config

refactor(duration): add current time calculation as a separate var
  src/utils/duration.ts
Labels: source

refactor(test): improve code structure
  test/logixlysia.test.ts
Labels: source, test

docs(src): add comment for function parameter `options`
  src/index.ts
Labels: source

fix(deps): move `ESLint` and related packages to dev dependencies
  package.json
Labels: config

fix(npm-ignore): accidentally ignore `tsconfig.json`
  .npmignore
Labels: none

docs(readme): wrong import library
  README.md
Labels: none

chore(npm-ignore): add ignore unnecessary files
  .npmignore
Labels: none

docs(issue-template): enhance bug report template for better clarity
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

docs(feature-request): enhance for better clarity
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

chore(bug-report): add required validation and screenshots
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

refactor(logger): reorganize directory structure and optimize code
  src/index.ts
  src/logger/buildLogMessage.ts
  src/logger/createLogger.ts
  src/logger/filter.ts
  src/logger/handleHttpError.ts
  src/logger/index.ts
  src/utils/colorMapping.ts
  src/utils/duration.ts
  src/utils/log.ts
  src/utils/method.ts
  src/utils/path.ts
  src/utils/start.ts
  src/utils/status.ts
Labels: source

style(formatting): import sorted
  src/logger/createLogger.ts
  src/logger/handleHttpError.ts
  src/utils/colorMapping.ts
  src/utils/log.ts
Labels: source

chore(husky): add premission for execute
  .husky/pre-push
Labels: none

feat(logger): add file logging capability
  example/basic.ts
  src/logger/createLogger.ts
  src/logger/filter.ts
  src/logger/logToFile.ts
  src/types.ts
Labels: source

fix(logger): remove ANSI color codes from log files
  src/logger/buildLogMessage.ts
  src/logger/createLogger.ts
  src/logger/logToFile.ts
  src/utils/duration.ts
  src/utils/log.ts
  src/utils/method.ts
  src/utils/status.ts
  test/utils/duration.test.ts
  test/utils/log.test.ts
  test/utils/method.test.ts
  test/utils/status.test.ts
Labels: source, test

test(logger): add test log to file
  test/logger/logToFile.test.ts
Labels: source, test

style(formatting): make upper-case
  test/logger/filter.test.ts
Labels: source, test

refactor(logger): add type to `useColors`
  src/logger/buildLogMessage.ts
Labels: source

test(logger): add mock up method to verify their call
  test/logger/logToFile.test.ts
Labels: source, test

docs(readme): update for new feature
  README.md
Labels: none

chore(deps): update dependencies
  bun.lockb
  package.json
Labels: config

feat(config): add option to toggle server start banner display
  README.md
  example/basic.ts
  src/index.ts
  src/types.ts
  src/utils/start.ts
Labels: source

test(logtofile): use new `fs` and `promises` module for file operations
  test/logger/logToFile.test.ts
Labels: source, test

chore(script): change `prettier` to `format`
  lint-staged.config.cjs
  package.json
Labels: config

style(formatting): auto fix style
  test/logger/logToFile.test.ts
Labels: source, test
