Repository PunGrumpy/logixlysia, changes with the labels that .github/labeler.yml gives for each.
All labels: source, test, lint, ci/cd, changelog, config, ignore

style(package): streamline maintainers and OS array formatting
  package.json
Labels: config

refactor(playground): optimize log display and adjust layout properties
  website/app/(home)/components/playground.tsx
Labels: source

refactor(playground): adjust spacing in log display for improved readability
  website/app/(home)/components/playground.tsx
Labels: source

refactor(playground): add new log entries for warning and info types
  website/app/(home)/components/playground.tsx
Labels: source

refactor(playground): update log entries and enhance padding for display
  website/app/(home)/components/playground.tsx
Labels: source

refactor(playground): simplify log padding and adjust grid height
  website/app/(home)/components/playground.tsx
Labels: source

refactor(home): adjust layout properties for improved display
  website/app/(home)/layout.tsx
Labels: source

refactor(home): update layout configuration for sidebar visibility
  website/app/(home)/layout.tsx
Labels: source

refactor(home): enhance layout properties for sidebar and main element
  website/app/(home)/layout.tsx
Labels: source

refactor(home): improve Installer component styling and layout
  website/app/(home)/components/installer.tsx
Labels: source

fix(package): remove unused devDependencies for cleaner setup
  bun.lockb
  package.json
Labels: config

chore(biome): update schema reference for configuration
  biome.json
Labels: none

chore(ci): remove branch restrictions for push and pull_request events
  .github/workflows/ci.yml
Labels: ci/cd

chore(ci): update CI workflow for improved Bun setup and permissions
  .github/workflows/ci.yml
Labels: ci/cd

ci(npm): update workflow reference for Continuous Integration
  .github/workflows/npm.yml
Labels: ci/cd

ci(ci): update permissions for enhanced job capabilities
  .github/workflows/ci.yml
Labels: ci/cd

ci(ci): add read permission for contents in CodeQL job
  .github/workflows/ci.yml
Labels: ci/cd

ci(ci): add release-please configuration files and update CI workflow
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/ci.yml
Labels: ci/cd

chore(release): clear release-please manifest for versioning reset
  .github/.release-please-manifest.json
Labels: none

chore(ci): remove release-please configuration files and update CI workflow
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/ci.yml
Labels: ci/cd

feat(build): add bunup configuration and update package.json for build process
  .github/workflows/ci.yml
  bun.lockb
  bunup.config.ts
  package.json
Labels: source, ci/cd, config

chore(package): simplify clean script in package.json
  package.json
Labels: config

fix(snippet): correct syntax error in Elysia app configuration
  website/app/(home)/components/snippet.tsx
Labels: source

refactor(meta): update meta.json to include title and enhance description
  website/content/docs/(general)/meta.json
Labels: none

feat(logging): enhance logging features with metrics tracking and log rotation
  src/interfaces/index.ts
  src/logger/create-logger.ts
  website/content/docs/features/file-logging.mdx
  website/content/docs/features/index.mdx
  website/content/docs/features/log-levels.mdx
  website/content/docs/features/log-rotation.mdx
  website/content/docs/features/meta.json
  website/content/docs/features/metrics.mdx
  website/content/docs/features/transports.mdx
Labels: source

chore(ci): remove npm workflow from GitHub Actions
  .github/workflows/npm.yml
Labels: ci/cd

ci(pr): update pull request workflow for improved checks
  .github/workflows/pull-request.yml
Labels: ci/cd

ci(labeler): simplify labeler workflow by removing issue triggers
  .github/workflows/labeler.yml
Labels: ci/cd

ci(workflow): streamline CI configuration by simplifying linting and event triggers
  .github/workflows/ci.yml
Labels: ci/cd

chore(package): update @biomejs/biome version in devDependencies
  bun.lockb
  package.json
Labels: config

ci(workflow): add .autorc file and update CI workflow for improved automation
  .autorc
  .github/workflows/ci.yml
  bun.lockb
  package.json
Labels: ci/cd, config

ci(codeql): simplify CodeQL analysis configuration
  .github/workflows/codeql.yml
Labels: ci/cd

chore(package): bump version to 4.2.3 and remove publish script
  package.json
Labels: config

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: changelog

Bump version to: 4.2.4 [skip ci]
  package.json
Labels: config

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: changelog

Bump version to: 4.2.5 [skip ci]
  package.json
Labels: config

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: changelog

Bump version to: 4.2.6 [skip ci]
  package.json
Labels: config

chore(auto): update new name and email
  .autorc
Labels: none

.github/labeler.yml:

enhancement:
  - head-branch:
      ['^feature', 'feature', '^feat', 'feat', '^enhancement', 'enhancement']

website:
  - head-branch:
      ['^website', 'website']
  - changed-files:
      - any-glob-to-any-file: '**/website/**/*'

docs:
  - head-branch:
      ['^docs', 'docs']
  - changed-files:
      - any-glob-to-any-file: '**/docs/**/*'
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
  - changed-files:
      - any-glob-to-any-file: '**/*.markdown'
  - changed-files:
      - any-glob-to-any-file: '**/*.mdx'

source:
  - changed-files:
      - any-glob-to-any-file: '**/*.{js,jsx,ts,tsx}'
test:
  - changed-files:
      - any-glob-to-any-file: '**/__tests__/*.{js,jsx,ts,tsx}'
  - changed-files:
      - any-glob-to-any-file: '**/*.{spec,test}.{js,jsx,ts,tsx}'
lint:
  - changed-files:
      - any-glob-to-any-file: 'lint-staged.config.js'
  - changed-files:
      - any-glob-to-any-file: 'eslint.config.js'
  - changed-files:
      - any-glob-to-any-file: 'prettier.config.js'
ci/cd:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*.{yml,yaml}'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'
config:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
ignore:
  - changed-files:
      - any-glob-to-any-file: '**/node_modules/**'
  - changed-files:
      - any-glob-to-any-file: '**/dist/**'
  - changed-files:
      - any-glob-to-any-file: '**/build/**'
  - changed-files:
      - any-glob-to-any-file: '**/coverage/**'
