Repository PunGrumpy/logixlysia, pull requests merged in 2024-09, with the labels that each got.

#64 Development
  eslint.config.js
  example/basic.ts
  example/transports/index.ts
  example/transports/myCustomTransport.ts
  src/core/buildLogMessage.ts
  src/core/createLogger.ts
  src/core/filter.ts
  src/core/handleHttpError.ts
  src/core/index.ts
  src/index.ts
  src/logger/handleHttpError.ts
  src/logger/index.ts
  src/plugins/index.ts
  src/plugins/startServer.ts
  src/transports/console.ts
  src/transports/file.ts
  src/transports/index.ts
  src/types/index.ts
  src/utils/colorMapping.ts
  src/utils/duration.ts
  src/utils/index.ts
  src/utils/log.ts
  src/utils/method.ts
  src/utils/path.ts
  src/utils/status.ts
  test/logger/filter.test.ts
  test/logger/logToFile.test.ts
  test/logger/transports.test.ts
  test/logixlysia.test.ts
  test/types/ColorMap.test.ts
  test/types/HttpError.test.ts
  test/types/Logger.test.ts
  test/types/RequestInfo.test.ts
  test/types/Server.test.ts
  test/types/StoreData.test.ts
  test/utils/duration.test.ts
  test/utils/log.test.ts
  test/utils/method.test.ts
  test/utils/path.test.ts
  test/utils/start.test.ts
  test/utils/status.test.ts
  tests/__mocks__/fs.ts
  tests/core/buildLogMessage.test.ts
  tests/core/filter.test.ts
  tests/helpers.ts
  tests/logixlysia.test.ts
  tests/transports/logToTransports.test.ts
  tsconfig.json
Labels: source, test, lint

#67 Resolved permission when pull request from forked repository
  .github/workflows/labeler.yml
Labels: ci/cd

#66 Add optional startup message config
  README.md
  example/basic.ts
  src/index.ts
  src/plugins/startServer.ts
  src/types/index.ts
Labels: enhancement, source
